--- ---
/*
  by David Skinner of Davsk℠
  for CADC Arkadelphia Senior Center
  on May 19 2018
*/

// change the theme's Sass variables
@import "{{ site.theme }}";

// custom Sass
header {
  background-image: url(/assets/images/favicon/favicon-128.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-origin: padding-box;
}
